@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'base';

@import 'tailwindcss/utilities';

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

blockquote li {
    @apply list-inside;
}

.breadcrumbs {
    ol {
        @apply m-0 p-0 list-none;

        li {
            @apply inline;

            & + li::before {
                content: " » ";
            }
        }
    }
}

/* Fix Safari issue related to <summary> / <details> arrow */
header details > summary.list-none::-webkit-details-marker,
header details > summary.list-none::marker {
  display: none;
}

@media (max-width: 56rem) {
    article ol {
        @apply ms-2;
    }
}
